body {
}
.header{
	width:100%;
	height:50px;
	background-color:black;
	
}
.nav{
	width:100%;
	height:50px;
	border-top-color:white;
	border-top-style:solid;
	border-top-width:thin;
	background-color:black;
	
}
.body{
	width:100%;
	height:500px;
}
.footer{
	width:100%;
	height:100px;
	background-color:black;
}
.main{
	background: url('images/8.jpg');
	background-repeat: no-repeat;background-size:cover;
	margin:0px !important;
}
.login{
	margin-left:60%;
	width:40%;
	height:50px;
	border-top-color:white;
	border-top-style:solid;
	border-top-width:thin;
	background-color:black;
	padding-top:10px;
}
.block{
	float:left;
	width:10%;
	height:40px;
	margin-left:5%;
	
}
.register{
	background-color:black;
	margin-left:10%;
	width:30%;
	height:350px;
	
}
.view{
	width:80%;
	height:400px;
	margin:30px;
	
}
.block{
	width:23%;
	margin-left:2%;
	height:350px;
	background-color:black;
	
}
#wrap .statusmsg{
	font-size: 12px; /* Set message font size  */
	padding: 3px; /* Some padding to make some more space for our text  */
	background: #EDEDED; /* Add a background color to our status message   */
	border: 1px solid #DFDFDF; /* Add a border arround our status message   */
}


orm, .content {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 63%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}